@charset "utf-8";
/* CSS Document */

/*公共*/
.com_width{width:1000px; margin:auto;}
.fl{float:left;}
.fr{float:right;}
.mt20{margin-top:20px;}

/*header*/
.header{height:35px;}

/*header top_menu*/
.top_menu{height:35px; /*background-color:#CD7327;*/ background-color:#1369C0; background:url(../images/menu_bg.jpg) left center repeat;}
.all_pros{width:125px; font:16px/35px "Microsoft YaHei UI", "微软雅黑"; color:#FFF; padding-left:64px; background:url(../images/icon/all_pros.jpg) 143px 15px no-repeat;}
.section ul li{width:80px; font:14px/35px "Microsoft YaHei UI", "微软雅黑"; float:left; text-align:center;}
.section ul li:hover{background-color:#E19C37;}
.section ul li a{color:#FFF;}
	
	
/*body*/
.body{}
.banner{height:340px;}

.top_page{height:35px; background-color:#FAF9F9;}
.page_1{margin:8px 10px 0 0; color:#999; font-family:\5B8B\4F53,Helvetica,sans-serif; font-size:12px;}
.page_1>a{border:1px solid #CCC; padding: 3px 5px;}

.pro_cont{}
.pro_list{height:315px;}
.pro_item{width:180px; height:310px; margin: 5px 10px 5px;}
.thumb_div{height:35px; padding-left:18px;}
.thumb_b{width:30px; height:30px; border:1px solid #CCC; margin: 4px 2px 0;}
.thumb_b>img{max-width:30px; max-height:30px;}
.money_div{height:20px; margin-top:10px;}
.money{color:#c00; font: 12px/18px arial,verdana,sans-serif; font-weight:700; margin-left:14px;}

.sales{margin-left:48px; color:#999;}
.sales_num{color:#c49173; font-weight:bolder;}
.pro_desc{color:#666; padding: 0 14px;}


/*footer*/
.footer{height:235px; background-color:#D6D6D6; margin-top:15px;}
.collect{height:235px; color:#666;}
.info{height:125px; width:350px; border-right:1px solid #666; margin:25px 0 0 225px;}
.legal{height:25px; width:275px; margin:35px 0 0 50px;}
.contact{height:35px; width:275px; margin-left:100px; background:url(../images/contact.jpg) left center no-repeat; font:16px/20px "Microsoft YaHei UI", "微软雅黑"; padding: 15px 0 0 35px;}

.weixin{height:135px; width:150px; margin:35px 0 0 55px}
.weixin_desc{height:35px; width:225px; margin-left:-5px}

.copyright{height:35px; width:500px; margin-left:270px;}


/*Bootstrap*/
/* 参考bootstrap.css精简后 导航条固定在顶部 */
.navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border-width: 0 0 1px
}

